{%- if form is defined -%}
    {%- block form_theme -%}
        {%- form_theme form '@ArkounayQuickAdminGenerator/form/form_theme.html.twig' -%}
    {%- endblock -%}
{%- endif -%}
{%- set current_route = app.request.get('_route') -%}

{% set menu_vertical = qag.config.menu.theme == 'vertical' %}
{% set menu_horizontal = not menu_vertical  %}
{% set dark_theme = app.session.get('qag.theme', qag.config.theme.default) == 'dark' %}

<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="msapplication-TileColor" content="#206bc4"/>
    <meta name="theme-color" content="#206bc4"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized" content="320"/>
    <meta name="robots" content="noindex,nofollow,noarchive"/>
    <meta name="turbo-root" content="{% block url_turbo_root_prefix '/admin' %}">

    {% block css %}
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
        <link rel="stylesheet" href="{{ "#{qag.config.assets_path}/build/app.css" }}">
    {% endblock %}

    {% block head_js %}
        <script src="{{ "#{qag.config.assets_path}/build/app.js" }}"></script>
    {% endblock %}

    <title>
        {%- block title -%}
            {%- set content_title = block('content_title') -%}
            {{ block('header_title') -}} {% if content_title %} - {{ content_title -}}{%- endif -%}
        {%- endblock -%}
    </title>

</head>

<body class="{{ dark_theme ? 'theme-dark' }} {% block body_extra_class '' %}" {% block body_attributes stimulus_controller('theme', {theme: app.session.get('qag.theme', qag.config.theme.default), watchForChange: qag.config.theme.default == 'auto'}) %}>
{% block body %}
    {% if menu_vertical %}
    <aside class="navbar navbar-vertical navbar-expand-lg navbar-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
                <span class="navbar-toggler-icon"></span>
            </button>

            {% block main_title %}
                <a href="{{ path('qag.dashboard') }}" class="navbar-brand navbar-brand-autodark">
                    {% block header_title qag.config.title|trans %}
                </a>
            {% endblock %}

            <div class="navbar-nav flex-row d-lg-none">
                {% block user_menu %}
                    {% if menu_horizontal %}
                        <div class="d-none d-md-block">
                            {% block global_search %}
                                {% if qag.config.global_search %}
                                    <div class="global-search-item me-2 {{ menu_horizontal ? 'mt-2' }}">
                                        <form action="{{ path('qag.global_search') }}" method="get" data-controller="global-search" data-global-search-index-value="0">
                                            <div class="input-icon">
                                                <span class="input-icon-addon">
                                                    {{ qag_render_icon('search', 20, 20) }}
                                                </span>
                                                <input type="search" autocomplete="off" name="q" data-action="keyup->global-search#search keydown->global-search#navigate" class="form-control" placeholder="{{ 'Global search'|trans }}" value="{{ current_route == 'qag.global_search' ? app.request.query.get('q') }}"/>
                                                <div class="search-box text-secondary d-none" data-global-search-target="resultBox"></div>
                                            </div>
                                        </form>
                                    </div>
                                {% endif %}
                            {% endblock %}
                        </div>
                    {% endif %}
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" data-bs-auto-close="outside">
                            {% block user_menu_username %}
                                {% if app.user is not null %}
                                    {% if app.user.username is defined %}
                                        <span class="avatar avatar-sm">{{ app.user.username[:1] }}</span>
                                    {% endif %}
                                    <div class="d-none d-xl-block ps-2">
                                        {% if app.user.username is defined %}
                                            <div>{{ app.user.username|title }}</div>
                                        {% else %}
                                            <div>{{ app.user|title }}</div>
                                        {% endif %}
                                        {% if app.user.email is defined %}
                                            <div class="mt-1 small text-muted">{{ app.user.email }}</div>
                                        {% endif %}
                                    </div>
                                {% else %}
                                    <div>{{ 'Guest'|trans }}</div>
                                {% endif %}
                            {% endblock %}
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            {% block user_menu_dropdown %}
                                {% block user_menu_dropdown_homepage %}
                                    <a class="dropdown-item" href="/">
                                        {{ qag_render_icon('home', 50, 44, 'icon dropdown-item-icon icon-tabler icon-tabler-logout') }}
                                        {{ 'Homepage'|trans }}
                                    </a>
                                {% endblock %}
                                {% if qag.config.theme.allow_switch %}
                                    {% block dark_mode_switcher %}
                                        <div class="dark-mode-switcher dropdown-item form-check form-switch ps-2" {{ stimulus_controller('theme_switch', {url: path('qag.switch_theme'), darkMode: dark_theme}) }} {{ stimulus_action('theme_switch', 'toggle', 'click') }}>
                                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" {{ stimulus_target('theme_switch', 'check') }}>
                                            <label class="form-check-label" for="flexSwitchCheckDefault">{{ 'Dark mode'|trans }}</label>
                                        </div>
                                    {% endblock %}
                                {% endif %}
                                {% block user_menu_dropdown_logout %}
                                    {% if app.user is not null %}
                                        <a class="dropdown-item" href="{% block user_menu_dropdown_logout_path '/logout' %}">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon dropdown-item-icon icon-tabler icon-tabler-logout" width="50" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                                                <path d="M7 12h14l-3 -3m0 6l3 -3" />
                                            </svg>
                                            {{ 'Logout'|trans }}
                                        </a>
                                    {% endif %}
                                {% endblock %}
                            {% endblock %}

                        </div>
                    </div>
                {% endblock %}
            </div>

            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="navbar-nav pt-lg-3">
                    {% block menu_items %}
                        {% set icon_class = menu_vertical ? 'me-2' : 'me-1' %}
                        {% if menu_vertical %}
                            <li class="nav-item d-md-none">
                                {{ block('global_search') }}
                            </li>
                        {% endif %}
                        {% for menu_item in qag.menu_items %}
                            {# menu_item \Arkounay\Bundle\QuickAdminGeneratorBundle\Menu\MenuItem #}
                            {% if menu_item.children is not empty %}
                                <li class="nav-item dropdown {{ menu_item.attributes.class|default }} {{ menu_item.active ? 'active' }}" {% for k, v in menu_item.attributes %}{% if k != 'class' %}{{ k }}="{{ v }}"{% endif %}{% endfor %}>
                                    <a class="nav-link dropdown-toggle {{ menu_vertical and menu_item.active ? 'show' }}" href="#" data-bs-toggle="dropdown" role="button" aria-expanded="{{ menu_vertical and menu_item.active ? 'true' : 'false' }}">
                                        <span class="nav-link-title">{{ menu_item.label|trans }}</span>
                                    </a>
                                    <ul class="dropdown-menu {{ menu_vertical and menu_item.active ? 'show' }}">
                                        {% for menu_item in menu_item.children %}
                                            {% block menu_item_children %}
                                                {% if menu_item.label == '__divider__' %}
                                                    <li class="dropdown-divider"></li>
                                                {% else %}
                                                    <li>
                                                        <a class="dropdown-item {{ menu_item.attributes.class|default }} {{ menu_item.active and menu_vertical ? 'text-white' }} {{ menu_item.active ? 'active' }}" {% for k, v in menu_item.attributes %}{% if k != 'class' %}{{ k }}="{{ v }}"{% endif %}{% endfor %} href="{{ menu_item.url }}">
                                                            {% if menu_vertical or menu_item.icon is not null %}
                                                                {{ qag_render_icon(menu_item.icon|default('chevron-right'), 16, 16, icon_class) }}
                                                            {% endif %}
                                                            <span>{{ menu_item.label|trans }}</span>
                                                        </a>
                                                    </li>
                                                {% endif %}
                                            {% endblock %}
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% else %}
                                {% block menu_item %}
                                    {% if menu_item.label == '__divider__' %}
                                        <li class="dropdown-divider"></li>
                                    {% else %}
                                        {# menu_item \Arkounay\Bundle\QuickAdminGeneratorBundle\Crud\Crud #}
                                        <li class="nav-item {% if menu_item.active %}active{% endif %}">
                                            <a class="nav-link {{ menu_item.attributes.class|default }}" {% for k, v in menu_item.attributes %}{% if k != 'class' %}{{ k }}="{{ v }}"{% endif %}{% endfor %} href="{{ menu_item.url }}">
                                                {% if menu_vertical or menu_item.icon is not null %}
                                                    {{ qag_render_icon(menu_item.icon|default('chevron-right'), 16, 16, icon_class) }}
                                                {% endif %}
                                                <span>{{ menu_item.label|trans }}</span>
                                            </a>
                                        </li>
                                    {% endif %}
                            {% endblock %}

                            {% endif %}
                        {% endfor %}
                    {% endblock %}
                </ul>
            </div>

        </div>
    </aside>
    {% endif %}

    <header class="navbar navbar-expand-md navbar-light {% if menu_vertical %}d-none d-lg-flex{% endif %}">
        <div class="container-xl">
            {% if menu_vertical %}
                {{ block('global_search') }}
            {% endif %}
            {% if menu_horizontal %}
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a href="{{ path('qag.dashboard') }}" class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
                    {{ block('header_title') }}
                </a>
            {% else %}
                <div></div>
            {% endif %}
            <div class="navbar-nav flex-row order-md-last">
                {{ block('user_menu') }}
            </div>
        </div>
    </header>

    {% if menu_horizontal %}
    <div class="navbar-expand-md">
        <div class="collapse navbar-collapse" id="navbar-menu">
            <div class="navbar navbar-light">
                <div class="container-xl">
                    <div class="d-md-none">
                        {{ block('global_search') }}
                    </div>
                    <ul class="navbar-nav">
                        {{ block('menu_items') }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if menu_vertical %}
        <div class="page">
    {% endif %}
    <div class="page-wrapper">
        <div class="container-xl">
            <div class="page-header">
                <div class="row align-items-start align-items-sm-center justify-content-between">
                    <div class="col-auto">
                        {% block content_title_wrapper %}
                            <h2 class="page-title">
                                {% block content_title '' %}
                            </h2>
                        {% endblock %}
                    </div>
                    {% block help_text %}{% endblock %}
                    {% block global_actions %}{% endblock %}
                </div>
            </div>

            <div class="page-body">
                {% block flash_messages %}
                    {% for label, messages in app.flashes(['danger', 'success', 'warning', 'info']) %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label}} alert-dismissible in" role="alert">
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                {{ message|raw }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endblock %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    {% if menu_vertical %}
        </div>
    {% endif %}

{% endblock %}

{% block body_js %}
    {% if app.request.query.get('highlight') %}
    <script>
        setTimeout(function() {
            window.find('{{ app.request.query.get('highlight')|e }}');
        }, 10);
    </script>
    {% endif %}
{% endblock %}

</body>
</html>