{% import '@ArkounayQuickAdminGenerator/crud/actions/_action_renderer.html.twig' as action_renderer %}

{% set is_filter_action_and_active = action.index == 'filter' and has_active_filters %}

{% if is_filter_action_and_active %}
    <div class="btn-group" role="group">
{% endif %}

{# action \Arkounay\Bundle\QuickAdminGeneratorBundle\Model\Action #}
{#<a {{ action_renderer.action_attributes(action, action.customHref ?? path(route ~ '_' ~ action.index)) }}>#}
<a {{ action_renderer.action_attributes(action) }}>
    {% if action.icon %}
        {{ qag_render_icon(action.icon, 17, 17, 'me-1') }}
    {% endif %}
    <span>{{ action.label|trans }}</span>
    {% if is_filter_action_and_active %}
        <span class="badge bg-red-lt ms-1">{{ active_filters_nb }}</span>
    {% endif %}
</a>
{% if is_filter_action_and_active %}
    <a href="{{ path(route) }}" class="btn btn-danger w-4 p-0">{{ qag_render_icon('x') }}</a>
    </div>
{% endif %}

