{% import '@ArkounayQuickAdminGenerator/base.html.twig' as icon %}

{% set is_filter_action_and_active = action.index == 'filter' and has_active_filters %}

{% if is_filter_action_and_active %}
    <div class="btn-group" role="group">
{% endif %}

{# action \Arkounay\Bundle\QuickAdminGeneratorBundle\Model\Action #}
<a href="{{ action.customHref ?? path(route ~ '_' ~ action.index) }}" {% if action.classes is not empty %} class="{{ action.classes|join(' ') }}" {% endif %}>
    {% if action.icon %}
        {{ icon.tabler_icon(action.icon, 17, 17, 'mr-1') }}
    {% endif %}
    <span>{{ action.label|humanize|trans }}</span>
    {% if is_filter_action_and_active %}
        <span class="badge badge-pill bg-red-lt ml-1">{{ active_filters_nb }}</span>
    {% endif %}
</a>
{% if is_filter_action_and_active %}
    <a href="{{ path(route) }}" class="btn btn-danger w-4 p-0">{{ icon.tabler_icon('x') }}</a>
    </div>
{% endif %}

