{% extends '@ArkounayQuickAdminGenerator/base.html.twig' %}

{% block action_name (action_name|trans)|default ~ ' ' ~ name|trans %}

{% block content_title %}
    <a title="{{ 'Back'|trans }}" class="btn-link d-flex align-items-center" href="{{ back }}">{{ qag_render_icon('arrow-narrow-left') }}</a>
    {{ block('action_name') }}
{% endblock %}

{% block content_title_wrapper %}
    <div class="d-flex flex-column">
        {{ parent() }}
        {% block breadcrumb_wrapper %}
            <nav class="breadcrumb">
                {% block breadcrumb %}
                    {% if breadcrumb is defined %}
                        {% for item in breadcrumb %}
                            {% if item.href|default(false) %}
                                <a class="breadcrumb-item {{ item.active|default(false) ? 'active' }}" href="{{ item.href }}">{{ item.label|trans }}</a>
                            {% else %}
                                <span class="breadcrumb-item {{ item.active|default(false) ? 'active' }}">
                                    {{ item.label|trans }}
                                </span>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endblock %}
            </nav>
        {% endblock %}
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        {% block card %}
            {% block card_body %}
                <div class="card-body">
                    {% block card_body_content '' %}
                </div>
            {% endblock %}
            {% block card_footer %}
                {% set sticky = creation is defined and not creation %}
                <div {% block card_footer_attr %}{% if sticky %}{{ stimulus_controller('sticky_observer', {activeClass: 'card-footer-sticky-active'}) }}{% endif %}{% endblock %} class="{% block card_footer_class %}card-footer px-2 px-md-4 {% if sticky %}card-footer-sticky{% endif %}{% endblock %}">
                    {% block card_footer_content %}
                        <a class="btn btn-link" href="{{ back }}">{{ qag_render_icon('arrow-narrow-left', 20, 20, 'me-1') }} {{ 'Back'|trans }}</a>
                    {% endblock %}
                </div>
            {% endblock %}
        {% endblock %}
    </div>
{% endblock %}
