{% extends '@ArkounayQuickAdminGenerator/base.html.twig' %}

{% set action_name = creation ? ('Create'|trans):('Edit'|trans) %}

{% block content_title %}
    {{ action_name }} {{ name|trans }}
{% endblock %}

{% block content_title_wrapper %}
    <div class="d-flex flex-column">
        {{ parent() }}
        {% block breadcrumb_wrapper %}
            <nav class="breadcrumb">
                {% block breadcrumb %}
                    <a class="breadcrumb-item" href="{{ list ?? back }}">{{ plural_name|trans }}</a>
                    <span class="breadcrumb-item active">
                        {% if action_name == 'Create' %}
                            {{ 'create'|trans({'%entity_name%': name|trans}) }}
                        {% else %}
                            {{ action_name }} {{ name|trans }}
                        {% endif %}
                    </span>
                {% endblock %}
            </nav>
        {% endblock %}
    </div>
{% endblock %}


{% block content_classes %}
    {{ parent() }} p-4
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    <div class="card">
        {% block card %}
            {% block card_body %}
                <div class="card-body px-4 pt-4">
                    {% block form_content %}
                        {{ form_rest(form) }}
                    {% endblock %}
                </div>
            {% endblock %}
            {% block card_footer %}
                <div class="card-footer px-4">
                    <a class="btn btn-link" href="{{ back }}">{{ _self.tabler_icon('arrow-narrow-left', 18, 18)}} {{ 'Back'|trans }}</a>
                    <button type="submit" class="btn btn-primary float-end">{{ 'Save'|trans }}</button>
                </div>
            {% endblock %}
        {% endblock %}
    </div>
    {{ form_end(form) }}
{% endblock %}
