{% extends '@ArkounayQuickAdminGenerator/crud/base_detail_layout.html.twig' %}

{% block content %}
    {{ form_start(form) }}
    {{ parent() }}
    {{ form_end(form) }}
{% endblock %}

{% block card_body %}
    <div class="card-body px-2 px-sm-4 pt-2 pt-sm-4">
        {% block card_body_content %}
            {% block form_content %}
                {{ form_rest(form) }}
            {% endblock %}
        {% endblock %}
    </div>
{% endblock %}

{% block card_footer_content %}
    {{ parent() }}
    <button type="submit" class="btn btn-primary float-end">{{ 'Save'|trans }}</button>
{% endblock %}