{% extends '@ArkounayQuickAdminGenerator/base.html.twig' %}

{% block title 'Search'|trans %}

{% block content %}
    <div class="card">
        <div class="card-body">
            {% for result in results %}
                <div class="mb-3">

                    <h3>
                        {% set result_title %}
                            {{ result.entity }} ({{ result.count }})
                        {% endset %}
                        {% if result.crud_url %}
                            <a href="{{ result.crud_url }}">{{ result_title }}</a>
                        {% else %}
                            {{ result_title }}
                        {% endif %}
                    </h3>
                    <ul>
                        {% for item in result.items %}
                            <li>
                                <a href="{{ item.url }}">
                                    {% block item item.entity %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
            {% if results is empty %}
                <div class="p-3">
                    {{ 'No result'|trans }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}