{% extends '@ArkounayQuickAdminGenerator/base.html.twig' %}

{% set has_batch_actions = batch_actions is not empty and entities is not empty %}

{% block body_class %}
    {{ parent() }} list
{% endblock %}

{% block content_title %}
    {{ plural_name|trans }}
{% endblock %}

{% import '@ArkounayQuickAdminGenerator/crud/actions/_action_renderer.html.twig' as action_renderer %}

{% block global_actions %}
    <div class="global-actions col">
        <div class="d-flex justify-content-end flex-wrap">
            {% if is_searchable %}
                {% block search_form %}
                    <form action="{{ app.request.requestUri }}" method="get" class="search-form w-100 w-sm-auto">
                        <div class="input-group">
                            {% block search_form_content %}
                                <input type="search" class="form-control" name="search" placeholder="{{ 'search_entity'|trans({'%entity_name%': name_sentence}) }}" value="{{ search }}">
                                <button type="submit" class="btn btn-white">
                                    {{ qag_render_icon('search') }}
                                </button>
                            {% endblock %}
                        </div>
                    </form>
                {% endblock %}
            {% endif %}
            {% for global_action in global_actions|reverse %}
                {% block global_actions_buttons_wrapper %}
                    <div class="ms-1 ms-sm-2 mt-1 mt-sm-0 mb-sm-1">
                        {% block global_actions_buttons %}
                            {% include '@ArkounayQuickAdminGenerator/crud/actions/global_action.html.twig' with {action: global_action} %}
                        {% endblock %}
                    </div>
                {% endblock %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block help_text %}
    {% if description %}
        <p class="mb-4">{{ description|raw }}</p>
    {% endif %}
{% endblock %}


{% block content %}
    {% set current_action_name = 'list' %}
    {% if search %}
        <div class="mb-2">
            {{ 'num_of_result'|trans({results: entities.count, search: search})|raw }}
        </div>
    {% endif %}

    {% set highlighted_row = app.session.flashbag.get('highlighted_row_id')|first|default() %}

    {% if is_simple_responsive_mode %}
        <div class="d-block d-sm-none">
            {% for i, entity in entities %}
                <div class="card mb-1">
                    <div class="card-body row align-items-center">

                        <div class="col">
                            {% block simple_responsive_item %}
                                {% if fields['id'] is defined %}
                                    <span class="text-secondary me-1">#{{ entity.id }}</span>
                                {% endif %}

                                {% if entity.__toString is defined %}
                                    {{ entity }}
                                {% endif %}
                            {% endblock %}
                        </div>

                        {% block actions_responsive_entities %}
                            {% if actions_entities[i] is defined and actions_entities[i] is not empty %}
                                {% set actions = actions_entities[i] %}
                                {% block actions_responsive %}
                                    {% if actions|length > 1 %}
                                        <div class="col-auto dropleft open">
                                            <button class="btn btn-pill btn-table-dropdown btn-icon text-secondary text-xs border-0" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                {{ qag_render_icon('dots-vertical') }}
                                            </button>
                                            <div class="dropdown-menu">
                                                {% block inner_actions_entities_responsive %}
                                                    {% if actions_entities[i] is defined and actions_entities[i] is not empty %}
                                                        {% set actions = actions_entities[i] %}
                                                        {% block inner_actions_responsive %}
                                                            {% for action in actions %}
                                                                {# action \Arkounay\Bundle\QuickAdminGeneratorBundle\Model\Action #}
                                                                {{ action_renderer.action_a(action, entity, null, ['dropdown-item'], true) }}
                                                            {% endfor %}
                                                        {% endblock %}
                                                    {% endif %}
                                                {% endblock %}
                                            </div>
                                        </div>
                                    {% elseif actions|length == 1 %}
                                        <div class="col-auto">
                                            {{ action_renderer.action_a(actions|first, entity) }}
                                        </div>
                                    {% endif %}
                                {% endblock %}
                            {% endif %}
                        {% endblock %}

                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="{{ is_simple_responsive_mode ? 'd-none' }} d-sm-block table-card table-responsive" {{ stimulus_controller({'position/list': {}, 'batch_actions': {}}) }}>
        {% block table %}
            <table class="table align-middle mb-0 table-hover-light">
                {% do entities.setSortableTemplate('@KnpPaginator/Pagination/twitter_bootstrap_v4_font_awesome_sortable_link.html.twig') %}
                <thead>
                    <tr>
                        {% if has_batch_actions %}
                            <th class="batch-column">
                                <label for="batch-actions-select-all">
                                    <input type="checkbox" class="form-check-input" id="batch-actions-select-all" {{ stimulus_target('batch_actions', 'selectAllCheckbox') }} {{ stimulus_action('batch_actions', 'selectAll') }}>
                                </label>
                            </th>
                        {% endif %}

                        {# fields \Arkounay\Bundle\QuickAdminGeneratorBundle\Crud\Field[] #}
                        {% for field in fields %}
                            {% if field.sortable %}
                                <th>{{ knp_pagination_sortable(entities, block('th_field_label') , field.sortQuery, {'title': false}, [], '@ArkounayQuickAdminGenerator/crud/tabler_sortable_link.html.twig') }}</th>
                            {% else %}
                                <th>{% block th_field_label field.label|trans %}</th>
                            {% endif %}
                        {% endfor %}
                        {% if has_actions %}
                            <th class="text-end">Actions</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% block tbody %}
                        {% for i, entity in entities %}
                            {% set actions = actions_entities[i]|default([]) %}
                            <tr {{ entity.id == highlighted_row ? 'class="highlighted"' }} data-id="{{ entity.id }}">
                                {% if has_batch_actions %}
                                    {% block batch_td %}
                                        <td class="batch-column">
                                            <label class="custom-control-label" for="batch-action-{{ entity.id }}">
                                                <input type="checkbox" class="batch-action form-check-input" name="batch-actions[{{ entity.id }}]" id="batch-action-{{ entity.id }}" form="batch-form" {{ stimulus_target('batch_actions', 'rowCheckbox') }} {{ stimulus_action('batch_actions', 'selectOne', 'click') }}>
                                            </label>
                                        </td>
                                    {% endblock %}
                                {% endif %}
                                {% for field in fields %}
                                    {% block field_td %}
                                        <td data-label="{{ field.label|trans }}">{% include field.twig with {value: attribute(entity, field.index)|default(), detail: false, export: false} %}</td>
                                    {% endblock %}
                                {% endfor %}
                                {% block actions %}
                                    {% if actions is not empty %}
                                        <td class="text-end">
                                            <div class="{% block entity_actions_classes entity_actions_display_mode.wrapperClasses %}">
                                                {% block entity_actions %}
                                                    {% if actions|length > 1 %}
                                                        {% if entity_actions_display_mode == constant('Dropdown', entity_actions_display_mode) %}
                                                            {% block entity_actions_dropdown %}
                                                                {% set main_action = actions|first %}
                                                                {{ action_renderer.action_a(main_action, entity) }}
                                                                {% if actions|length == 2 and actions.delete is defined and actions|last == actions.delete %}
                                                                    {% set action = actions.delete %}
                                                                    <a {{ action_renderer.action_attributes(action, entity, null, ['btn-sm']) }}> {{ qag_render_icon('x', 12, 12) }} </a>
                                                                {% else %}
                                                                    <button type="button" {{ stimulus_controller('dropdown_fix') }} class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split"  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                        <span class="visually-hidden">Toggle Dropdown</span>
                                                                    </button>
                                                                    <div class="dropdown-menu dropdown-menu-end">
                                                                        {% for action in actions|filter(a => main_action.index != a.index) %}
                                                                            {# action \Arkounay\Bundle\QuickAdminGeneratorBundle\Model\Action #}
                                                                            {{ action_renderer.action_a(action, entity, null, ['dropdown-item'], true) }}
                                                                        {% endfor %}
                                                                    </div>
                                                                {% endif %}
                                                            {% endblock %}
                                                        {% elseif entity_actions_display_mode.expanded %}
                                                            {% block entity_actions_group_expanded %}
                                                                {% for action in actions %}
                                                                    {% if action.classes is empty %}
                                                                        {% do action.addClasses('btn', 'btn-outline-dark') %}
                                                                    {% endif %}
                                                                    {{ action_renderer.action_a(action, entity) }}
                                                                {% endfor %}
                                                            {% endblock %}
                                                        {% endif %}
                                                    {% elseif actions|length == 1 %}
                                                        {% block entity_actions_single %}
                                                            {% set main_action = actions|first %}
                                                            {{ action_renderer.action_a(main_action, entity) }}
                                                        {% endblock %}
                                                    {% endif %}
                                                {% endblock %}

                                            </div>
                                        </td>
                                    {% endif %}
                                {% endblock %}
                            </tr>
                        {% endfor %}
                    {% endblock %}
                </tbody>
            </table>
        {% endblock %}
        {% if entities is empty %}
            <div class="p-3">{{ 'No result'|trans }}</div>
        {% endif %}
        <form method="post" data-turbo="false" id="batch-form" action="{{ path(route ~ '_delete_batch', app.request.query.all) }}">
            <input type="hidden" name="token" value="{{ csrf_token('batch') }}" />

            <div class="batch-actions-container" {{ stimulus_target('batch_actions', 'actionsContainer') }} style="display: none;">
                <span {{ stimulus_target('batch_actions', 'actionText') }} data-single-count="{{ 'batch_selection_single'|trans }}" data-plural-count="{{ 'batch_selection_multiple'|trans }}"></span>
                {% block batch_actions %}
                    {% for action in batch_actions %}
                        {# action \Arkounay\Bundle\QuickAdminGeneratorBundle\Model\Action #}
                        {{ action_renderer.action_button(action) }}
                    {% endfor %}
                    {# Batch delete modal #}
                    <div class="modal fade" tabindex="-1" role="dialog" id="batch-delete-modal">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">{{ 'Delete'|trans }}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'Close'|trans }}"></button>
                                </div>
                                <div class="modal-body">
                                    <p>{{ 'are_you_sure_batch'|trans|raw }}</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn" data-bs-dismiss="modal">{{ 'Cancel'|trans }}</button>
                                    <button type="submit" class="btn btn-danger">{{ 'Delete'|trans }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </form>
    </div>


    <div class="mt-2 table-pagination">
        {{ knp_pagination_render(entities, '@ArkounayQuickAdminGenerator/crud/pagination.html.twig') }}
    </div>

    {% block modals %}
        {% include '@ArkounayQuickAdminGenerator/crud/actions/_delete_modal.html.twig' %}

        {% if has_filters %}
            <div class="modal fade" tabindex="-1" role="dialog" id="filter-modal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form action="{{ path(route) }}" method="get">
                            <div class="modal-header">
                                <h5 class="modal-title">{{ 'Filter'|trans }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'Close' |trans }}"></button>
                            </div>
                            <div class="modal-body">
                                <div id="filter-form">
                                    {% if filter_form is not null %}
                                        {% include filter_form_twig with {form: filter_form} %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="modal-footer">
                                {% if has_active_filters %}
                                    <a class="btn btn-danger" href="{{ path(current_route) }}">{{ 'Reset'|trans }}</a>
                                {% endif %}
                                <button type="button" class="btn" data-bs-dismiss="modal">{{ 'Cancel'|trans }}</button>
                                <button type="submit" class="btn btn-primary btn-submit">{{ 'Search'|trans }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}
