{% extends '@ArkounayQuickAdminGenerator/base.html.twig' %}

{% set has_batch_actions = batch_actions is not empty and entities is not empty %}

{% block body_class 'list' %}

{% block content_title %}
    {{ plural_name|trans }}
{% endblock %}

{% block global_actions %}
    <div class="global-actions col">
        <div class="d-flex justify-content-end flex-wrap">
            {% if is_searchable %}
                <form action="{{ path(route) }}" method="get" class="w-100 w-sm-auto">
                    <div class="input-group">
                        <input type="text" class="form-control" name="search" placeholder="{{ 'Search'|trans }}" value="{{ search }}">
                        <button type="submit" class="btn btn-white">
                            {{ _self.tabler_icon('search') }}
                        </button>
                    </div>
                </form>
            {% endif %}
            {% for global_action in global_actions|reverse %}
                <div class="ml-1 ml-sm-2 mt-1 mt-sm-0">
                    {% include '@ArkounayQuickAdminGenerator/crud/actions/global_action.html.twig' with {action: global_action} %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block help_text %}
    <div class="d-block d-md-none"></div>
    {% if description %}
        <p class="mb-4">{{ description|raw }}</p>
    {% endif %}
{% endblock %}


{% block content %}
    {% if search %}
        <div class="mb-2">
            {{ 'num_of_result'|trans({results: entities.count, search: search})|raw }}
        </div>
    {% endif %}

    {% if is_simple_responsive_mode %}
        <div class="d-block d-sm-none">
            {% for i, entity in entities %}
                <div class="card mb-1">
                    <div class="card-body row align-items-center">

                        <div class="col">
                            {% block simple_responsive_item %}
                                {% if fields['id'] is defined %}
                                    <span class="text-secondary mr-1">#{{ entity.id }}</span>
                                {% endif %}

                                {% if entity.__toString is defined %}
                                    {{ entity }}
                                {% endif %}
                            {% endblock %}
                        </div>

                        {% block actions_responsive_entities %}
                            {% if actions_entities[i] is defined and actions_entities[i] is not empty %}
                                {% set actions = actions_entities[i] %}
                                {% block actions_responsive %}
                                    {% if actions|length > 1 %}
                                        <div class="col-auto dropleft open">
                                            <button class="btn btn-pill btn-table-dropdown btn-icon text-secondary text-xs" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                {{ _self.tabler_icon('dots-vertical') }}
                                            </button>
                                            <div class="dropdown-menu">
                                                {% block inner_actions_entities_responsive %}
                                                    {% if actions_entities[i] is defined and actions_entities[i] is not empty %}
                                                        {% set actions = actions_entities[i] %}
                                                        {% block inner_actions_responsive %}
                                                            {% for action in actions %}
                                                                {# action \Arkounay\Bundle\QuickAdminGeneratorBundle\Model\Action #}
                                                                {% set classes = action.dropdownClasses|default([])|merge(['dropdown-item']) %}
                                                                <a data-name="{{ entity }}" href="{{ action.customHref ?? path(route ~ '_' ~ action.index, {id: entity.id, referer: app.request.query.all}) }}" class="{{ classes|join(' ') }}">
                                                                    {{ action.label|humanize|trans }}
                                                                </a>
                                                            {% endfor %}
                                                        {% endblock %}
                                                    {% endif %}
                                                {% endblock %}
                                            </div>
                                        </div>
                                    {% elseif actions|length == 1 %}
                                        <div class="col-auto">
                                            {% set main_action = actions|first %}
                                            <a href="{{ main_action.customHref ?? path(route ~ '_' ~ main_action.index, {id: entity.id, referer: app.request.query.all}) }}" class="{{ main_action.classes|join(' ') }}">
                                                {{ main_action.label|humanize|trans }}
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endblock %}
                            {% endif %}
                        {% endblock %}

                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="{{ is_simple_responsive_mode ? 'd-none' }} d-sm-block table-card table-responsive">
        {% block table %}
            <table class="table align-middle mb-0">
                {% do entities.setSortableTemplate('@KnpPaginator/Pagination/twitter_bootstrap_v4_font_awesome_sortable_link.html.twig') %}
                <thead>
                    <tr>
                        {% if has_batch_actions %}
                            <th class="batch-column">
                                <label for="batch-actions-select-all">
                                    <input type="checkbox" class="custom-control-input" id="batch-actions-select-all">
                                </label>
                            </th>
                        {% endif %}

                        {# fields \Arkounay\Bundle\QuickAdminGeneratorBundle\Crud\Field[] #}
                        {% for field in fields %}
                            {% if field.sortable %}
                                <th>{{ knp_pagination_sortable(entities, field.label|trans, field.sortQuery, [], [], '@ArkounayQuickAdminGenerator/crud/tabler_sortable_link.html.twig') }}</th>
                            {% else %}
                                <th>{{ field.label|trans }}</th>
                            {% endif %}
                        {% endfor %}
                        {% if has_actions %}
                            <th class="text-right">Actions</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% block tbody %}
                        {% for i, entity in entities %}
                            <tr>
                                {% if has_batch_actions %}
                                    {% block batch_td %}
                                        <td class="batch-column">
                                            <label class="custom-control-label" for="batch-action-{{ entity.id }}">
                                                <input type="checkbox" class="batch-action custom-control-input" name="batch-actions[{{ entity.id }}]" id="batch-action-{{ entity.id }}" form="batch-form">
                                            </label>
                                        </td>
                                    {% endblock %}
                                {% endif %}
                                {% for field in fields %}
                                    {% block field_td %}
                                        <td data-label="{{ field.label|trans }}">{% include field.twig with {value: attribute(entity, field.index)} %}</td>
                                    {% endblock %}
                                {% endfor %}
                                {% block actions %}
                                    {% if actions_entities[i] is defined and actions_entities[i] is not empty %}
                                        {% set actions = actions_entities[i] %}
                                        <td class="text-right">
                                            {% if actions|length > 1 %}
                                                <div class="btn-group btn-group-table">
                                                    {% set main_action = actions|first %}
                                                    <a type="button" class="{{ main_action.classes|default([])|join(' ') }}" href="{{ main_action.customHref ?? path(route ~ '_' ~ main_action.index, {id: entity.id, referer: app.request.query.all}) }}">{{ main_action.label|humanize|trans }}</a>
                                                    {% if actions|length == 2 and actions.delete is defined %}
                                                        {% set action = actions.delete %}
                                                        <a data-name="{{ entity }}" href="{{ action.customHref ?? path(route ~ '_' ~ action.index, {id: entity.id, referer: app.request.query.all}) }}" class="{{ action.classes|merge(['btn-sm'])|join(' ') }}"> {{ _self.tabler_icon('x', 12, 12) }}
                                                        </a>
                                                    {% else %}
                                                        <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="sr-only">Toggle Dropdown</span>
                                                        </button>
                                                        <div class="dropdown-menu">
                                                            {% for action in actions|filter(a => main_action.index != a.index) %}
                                                                {# action \Arkounay\Bundle\QuickAdminGeneratorBundle\Model\Action #}
                                                                {% set classes = action.dropdownClasses|default([])|merge(['dropdown-item']) %}
                                                                <a data-name="{{ entity }}" href="{{ action.customHref ?? path(route ~ '_' ~ action.index, {id: entity.id, referer: app.request.query.all}) }}" class="{{ classes|join(' ') }}">
                                                                    {{ action.label|humanize|trans }}
                                                                </a>
                                                            {% endfor %}
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            {% elseif actions|length == 1 %}
                                                {% set main_action = actions|first %}
                                                <a type="button" class="{{ main_action.classes|default([])|join(' ') }}" href="{{ main_action.customHref ?? path(route ~ '_' ~ main_action.index, {id: entity.id, referer: app.request.query.all}) }}">{{ main_action.label|humanize|trans }}</a>
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                {% endblock %}
                            </tr>
                        {% endfor %}
                    {% endblock %}
                </tbody>
            </table>
        {% endblock %}
        {% if entities is empty %}
            <div class="p-3">{{ 'No result'|trans }}</div>
        {% endif %}
        <form method="post" id="batch-form">
            <input type="hidden" name="token" value="{{ csrf_token('batch') }}" />

            <div class="batch-actions-container mx-3 my-2" style="display: none;">
                {% block batch_actions %}
                    {% for action in batch_actions %}
                        {# action \Arkounay\Bundle\QuickAdminGeneratorBundle\Model\Action #}
                        {% set classes = action.classes|default([])|merge(['batch-form-button']) %}
                        <button data-action="{{ action.customHref ?? path(route ~ '_' ~ action.index ~ '_batch') }}" class="{{ classes|join(' ') }}">
                            {{ action.label|humanize|trans }}
                        </button>
                    {% endfor %}
                    {# Batch delete modal #}
                    <div class="modal fade" tabindex="-1" role="dialog" id="batch-delete-modal">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">{{ 'Search'|trans }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'Close'|trans }}">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>{{ 'are_you_sure_batch'|trans|raw }}</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'Cancel'|trans }}</button>
                                    <button type="submit" class="btn btn-danger">{{ 'Delete'|trans }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </form>
    </div>


    <div class="small mt-2">
        {{ knp_pagination_render(entities, '@ArkounayQuickAdminGenerator/crud/pagination.html.twig') }}
    </div>

    {% block modals %}
        {# Remove modal #}
        <div class="modal fade" tabindex="-1" role="dialog" id="delete-modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form action="" method="post">
                        <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
                        <div class="modal-header">
                            <h5 class="modal-title">{{ 'Remove'|trans }} {{ name }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'Close'|trans }}">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <strong class="js-entity-to-string"></strong>
                            <p>{{ 'are_you_sure'|trans|raw }}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'Cancel'|trans }}</button>
                            <button type="submit" class="btn btn-danger">{{ 'Delete'|trans }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {% if has_filters %}
            <div class="modal fade" tabindex="-1" role="dialog" id="filter-modal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form action="{{ path(route) }}" method="get">
                            <div class="modal-header">
                                <h5 class="modal-title">{{ 'Filter'|trans }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'Close' |trans }}">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div id="filter-form">
                                    {% if filter_form is not null %}
                                        {% include filter_form_twig with {form: filter_form} %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="modal-footer">
                                {% if has_active_filters %}
                                    <a class="btn btn-danger" href="{{ path(current_route) }}">{{ 'Reset'|trans }}</a>
                                {% endif %}
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'Cancel'|trans }}</button>
                                <button type="submit" class="btn btn-primary btn-submit">{{ 'Search'|trans }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endblock %}

{% endblock %}

{% block head_js %}
    <script>
        var ajaxFilterUrl = '{{ path(current_route ~ '_filter_form_ajax') }}';
    </script>
    {{ parent() }}
{% endblock %}

