<a{% for attr, value in options|filter(v => v) %} {{ attr }}="{{ value }}"{% endfor %}>
    {{ title|raw }}
    {% if sorted %}
        {% if direction == 'desc' %}
            {{ qag_render_icon('arrow-down') }}
        {% else %}
            {{ qag_render_icon('arrow-up') }}
        {% endif %}
    {% endif %}
</a>