<a{% for attr, value  in options %} {{ attr }}="{{ value }}"{% endfor %}>
    {{ title }}
    {% if sorted %}
        {% if direction == 'desc' %}
            {{ qag_render_icon('arrow-down') }}
        {% else %}
            {{ qag_render_icon('arrow-up') }}
        {% endif %}
    {% endif %}
</a>
